.title {
  margin-left: 40px;
  font-size: 1.5em;
  align-items: center;
}
.submitBtn {
  margin-left: 60vw;
  border-radius: 20px;
  width: 10vw;
  margin-top: 5px;
}
.image {
}
.container {
  display: flex;
  width: 10vw;
  margin-left: 5vw;
}
.container2 {
  display: block;
  width: 20vw;
}
.container3 {
  display: block;
  width: 20vw;
  margin-bottom: 50px;
}
.text {
  margin-left: 2.5vw;
  width: 55vw;
}
.text2 {
  margin-left: 2.5vw;
  width: 80vw;
}
.loginLib2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;

  display: flex;
  align-items: center;
  letter-spacing: 1px;

  /* Title */

  color: #171717;
  margin-left: 2.5vw;
  margin-top: 3vh;
}
@media only screen and (min-device-width: 0px) and (max-device-width: 767px) {
  .title {
    margin-left: 40px;
    font-size: 1.5em;
    align-items: center;
    width: 170px;
  }
  .text {
    margin-left: 2.5vw;
    width: 80vw;
  }
  .image {
    margin-left: 10vw;
  }
}
