.title {
  margin-left: 40px;
  font-size: 1.5em;
  align-items: center;
}
.submitBtn {
  margin-left: 60vw;
  border-radius: 20px;
  width: 10vw;
  margin-top: 5px;
}
.image {
  /* width: 430px;
  height: 218px; */
  /* vertical-align: bottom; */
}
.container2 {
  display: block;
  width: 20vw;
}
.text {
  margin-left: 2.5vw;
  width: 50vw;
}
.text1 {
  margin-left: 2.5vw;
  width: 50vw;
}
@media only screen and (min-device-width: 0px) and (max-device-width: 767px) {
  .title {
    margin-left: 40px;
    font-size: 1.5em;
    align-items: center;
    width: 170px;
  }
  .text {
    margin-left: 2.5vw;
    width: 85vw;
  }
  .text1 {
    margin-left: 2.5vw;
    width: 85vw;
  }
  .submitBtn {
    margin-left: 100vw;
    border-radius: 20px;
    width: 35vw;
    margin-top: 5px;
  }

}
@media only screen and (min-device-width: 0px) and (max-device-width: 575px) {
  .image {
    margin-left: 10vw;
  }
}
